In [2]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel('Xiaomi New data.xlsx')

In [4]:
df.head()

,CustomerID,Day,Browser,No.ofClicks,PagesViewed,Time,Amount
0,1,Monday,Chrome,13,4,8.5,2668.0
1,2,Saturday,Chrome,15,5,16.9,3469.0
2,3,Monday,Internet Explorer,20,6,7.3,5215.0
3,4,Monday,Chrome,42,6,30.1,10423.0
4,5,Saturday,Internet Explorer,20,6,13.3,5404.0

In [5]:
le = LabelEncoder()

In [6]:
df['Day']=le.fit_transform(df['Day'])
df['Browser']=le.fit_transform(df['Browser'])

In [7]:
df.head()

   CustomerID  Day  Browser  No.ofClicks  PagesViewed  Time  Amount
0           1    1        0           13            4   8.5   2668.0
1           2    2        0           15            5  16.9   3469.0
2           3    1        2           20            6   7.3   5215.0
3           4    1        0           42            6  30.1  10423.0
4           5    2        2           20            6  13.3   5404.0

# Train Test Split

In [8]:
x = df.drop('Amount',axis=1)

KeyError: "['Amount'] not found in axis"