In [52]:
#Importing libraries

import pandas as pd 

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score

from sklearn.feature_selection import RFE

In [2]:
df = pd.read_excel("mtcars raw.xlsx")

In [3]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [9]:
X = df.drop(["model","mpg"],axis=1)
y = df[["mpg"]]

In [10]:
type(y)

pandas.core.frame.DataFrame

In [11]:
type(X)

pandas.core.frame.DataFrame

In [43]:
#train test split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size= 0.1, random_state= 50)

In [44]:
X_train.shape

(28, 10)

In [45]:
X_test.shape

(4, 10)

In [46]:
y_train.shape

(28, 1)

In [47]:
y_test.shape

(4, 1)

In [48]:
#model building
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [49]:
lr.score(X_test,y_test)

0.6741218480652111

In [50]:
lr_pred = lr.predict(X_test)

In [51]:
r2_score(y_test,lr_pred)

0.6741218480652111

In [53]:
#RFE

rfe = RFE(estimator= lr)

In [54]:
rfe.fit(X,y)

RFE(estimator=LinearRegression())

In [55]:
rfe.support_

array([False, False, False,  True,  True,  True, False,  True, False,
        True])

In [56]:
X.columns

Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb'], dtype='object')

In [57]:
X_new = X.drop(["cyl","disp","hp","vs","gear"],axis=1)

In [58]:
X_new

    drat     wt   qsec  am  carb
0   3.90  2.620  16.46   1     4
1   3.90  2.875  17.02   1     4
2   3.85  2.320  18.61   1     1
3   3.08  3.215  19.44   0     1
4   3.15  3.440  17.02   0     2
5   2.76  3.460  20.22   0     1
6   3.21  3.570  15.84   0     4
7   3.69  3.190  20.00   0     2
8   3.92  3.150  22.90   0     2
9   3.92  3.440  18.30   0     4
10  3.92  3.440  18.90   0     4
11  3.07  4.070  17.40   0     3
12  3.07  3.730  17.60   0     3
13  3.07  3.780  18.00   0     3
14  2.93  5.250  17.98   0     4
15  3.00  5.424  17.82   0     4
16  3.23  5.345  17.42   0     4
17  4.08  2.200  19.47   1     1
18  4.93  1.615  18.52   1     2
19  4.22  1.835  19.90   1     1
20  3.70  2.465  20.01   0     1
21  2.76  3.520  16.87   0     2
22  3.15  3.435  17.30   0     2
23  3.73  3.840  15.41   0     4
24  3.08  3.845  17.05   0     2
25  4.08  1.935  18.90   1     1
26  4.43  2.140  16.70   1     2
27  3.77  1.513  16.90   1     2
28  4.22  3.170  14.50   1     4
29  3.62  2.770  15.50   1     6
30  3.54  3.570  14.60   1     8
31  4.11  2.780  18.60   1     2

In [62]:
X1_train,X1_test,y_train,y_test = train_test_split(X_new,y, test_size=0.1,random_state= 50)

In [63]:
lr.fit(X1_train,y_train)

LinearRegression()

In [64]:
lr.score(X1_test,y_test)

0.9293267003097953