In [27]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, auc

In [2]:
df = pd.read_excel("ktm ml.xlsx")

In [3]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [4]:
round(df.describe(),2)

            ID      Age
count  1518.00  1518.00
mean    759.50    32.73
std     438.35    13.26
min       1.00    18.00
25%     380.25    22.00
50%     759.50    28.00
75%    1138.75    44.00
max    1518.00    60.00

In [5]:
df["Age"].kurt()

-1.0629957392129958

In [6]:
df["Age"].skew()

0.5781958580369608

In [7]:
#Label Enconding
le = LabelEncoder()
df["Gender"] = le.fit_transform(df["Gender"])
df["Response"] = le.fit_transform(df["Response"])
df["Phone Type"] = le.fit_transform(df["Phone Type"])
df["Current Bike"] = le.fit_transform(df["Current Bike"])

In [8]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,1,Professional,0,1,Complicated,0
1,2,27,0,Self Employed,2,4,Single,1
2,3,39,0,Unemployed,0,1,Married,0
3,4,20,0,Unemployed,1,4,Married,0
4,5,29,1,Student,0,1,Complicated,1

In [9]:
#One hot encoding
df[["Student", "Unemployed", "Self Employed"]] = pd.get_dummies(df["Occupation"], drop_first= True)
df[["Single", "Married", "Complicated"]] = pd.get_dummies(df["Relationship"], drop_first= True)

In [10]:
df.drop(["Occupation","Relationship"],axis=1,inplace=True)

In [11]:
X = df.drop(["ID","Response"],axis=1,)
y = df["Response"]

In [12]:
#Train test table

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= 5)

In [13]:
X_train.shape

(1214, 10)

In [14]:
X_test.shape

(304, 10)

In [15]:
#Model Building

lor = LogisticRegression()
lor.fit(X_train,y_train)

C:\Users\celestin jacob\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
lor_predict = lor.predict(X_train)

In [18]:
accuracy_score(y_train,lor_predict)

0.7742998352553542

In [19]:
accuracy_score(y_test,lor.predict(X_test))

0.8289473684210527

In [21]:
confusion_matrix(y_train,lor_predict)

array([[387, 134],
       [140, 553]], dtype=int64)

In [22]:
confusion_matrix(y_test,lor.predict(X_test))

array([[104,  21],
       [ 31, 148]], dtype=int64)

In [28]:
auc(y_train,lor_predict)

ValueError: x is neither increasing nor decreasing : [0 1 1 ... 0 1 0].